.slick-slide {
    padding: 0 15px;
    width: 250px !important;
}

.slick-track {
    width: 2200px !important;
}

.slick-prev,
.slick-next
{
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    transition: all .3s;
}

.slick-prev {
    position: absolute;
    top: 38%;
    left: 28%;
    transform: translate(-40%, 38%);
}

.slick-next {
    position: absolute;
    top: 38%;
    left: 70%;
    transform: translate(-40%, 38%);
}