@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.animate-pulse {
  animation: pulse 4s infinite linear; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background: #777;
  font-family: 'Source Sans Pro', sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.audioplayer {
  background-color: #1b1b1b;
  max-width: 576px;
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.header {
  padding: 10px 25px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 15; }
  .header__text {
    text-align: center;
    margin-top: 10px; }

.heading-small {
  text-transform: uppercase;
  color: #9a9b9b;
  animation: moveInRight 1s ease-out; }

.heading-medium {
  font-size: 20px;
  font-weight: 400;
  animation: moveInLeft 1s ease-out; }

.heading-big {
  color: #0fd65a;
  font-size: 32px;
  font-weight: 400;
  animation: moveInRight 1s ease-out; }

.cd-title {
  text-align: center;
  padding: 20px 0; }

.player {
  padding: 20px 0 0; }

.footer {
  background-color: #fff;
  padding: 15px 30px; }
  .footer__text {
    padding-left: 10px; }
  .footer__time {
    float: right;
    color: #9a9b9b;
    line-height: 35px; }

.u-inline-block {
  display: inline-block; }

.margin-top-small {
  margin-top: 15px; }

.active-playlist {
  display: block !important; }

.filter {
  filter: brightness(1.5); }

.active {
  display: inline-block !important; }

.unactive {
  display: none; }

.btn-up {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 300; }
  .btn-up button {
    width: 60px;
    height: 54px; }

.relative {
  position: relative; }

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .075;
  overflow: hidden;
  height: 50vh;
  max-height: 436px; }
  .bg-img__content {
    height: 100%;
    width: 100%; }

.slider {
  overflow: hidden; }
  .slider__content {
    width: 40%;
    margin: 0 auto; }
  .slider__img {
    margin: 0 auto;
    width: 100%; }

.btn, .head-btn, .foot-btn, .nav-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-decoration: none; }
  .btn:focus, .head-btn:focus, .foot-btn:focus, .nav-btn:focus {
    outline: none; }

.head-btn, .foot-btn {
  height: 30px;
  width: 30px;
  z-index: 300; }

.nav-btn {
  width: 30px;
  height: 26px;
  background-size: cover;
  transition: all .3s; }
  .nav-btn:hover {
    filter: brightness(1.5); }
  .nav-btn:active {
    transform: translateY(0); }

.btn__back {
  background-image: url("../images/back_ico.svg"); }

.btn__more {
  background-image: url("../images/more_ico.svg"); }

.shuffle {
  background-image: url("../images/shuffle_ico.svg"); }

.repeat {
  background-image: url("../images/repeat_ico.svg"); }

.stop {
  background-image: url("../images/Play_inactive.png");
  width: 100px;
  height: 94px;
  background-size: cover; }

.playlist-btn {
  background-image: url("../images/playlist_ico.svg");
  width: 36px; }

.shuffle-btn {
  padding: 10px 80px;
  position: absolute;
  bottom: 40px;
  background-color: #0fd65a;
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  -webkit-box-shadow: 0px -20px 50px 0px white;
  -moz-box-shadow: 0px -20px 50px 0px white;
  box-shadow: 0px -20px 50px 0px white;
  z-index: 10;
  animation: moveInBottom 0.5s ease-out .75s;
  animation-fill-mode: backwards; }
  .shuffle-btn:hover {
    background-color: #1fe76b; }

.hide-btn {
  background: #fff;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }
  .hide-btn img {
    height: 16px; }

.btn-menu {
  animation: moveInBottom 0.5s ease-out .75s;
  animation-fill-mode: backwards;
  transition: all .3s; }
  .btn-menu:hover, .btn-menu :focus, .btn-menu :active {
    color: #9a9b9b; }

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.visualizer {
  padding-top: 20px; }
  .visualizer__content {
    margin-bottom: -5px; }

.timeline {
  display: flex;
  justify-content: space-around; }
  .timeline__timer {
    color: #9a9b9b; }

.range input {
  width: 250px;
  height: 0;
  -webkit-appearance: none; }
  .range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: none; }
  .range input::-moz-range-thumb {
    display: none; }
  .range input::-ms-thumb {
    display: none; }
  .range input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #9a9b9b; }
  .range input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #9a9b9b; }
  .range input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #9a9b9b; }

.playlist {
  display: none; }
  .playlist__list {
    position: absolute;
    background-color: #fff;
    top: 75px;
    width: 100%;
    height: 85%;
    overflow: scroll; }
    .playlist__list ul {
      list-style-type: none;
      padding: 20px 30px; }
    .playlist__list li {
      line-height: 40px; }
      .playlist__list li .plItem {
        display: flex;
        justify-content: space-between;
        animation: moveInLeft 1s ease-out; }
        .playlist__list li .plItem .plNum, .playlist__list li .plItem .plLength {
          color: #9a9b9b; }
  .playlist__button {
    display: flex;
    justify-content: center; }

.menu {
  position: absolute;
  background: rgba(27, 27, 27, 0.95);
  top: 63px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 90%; }
  .menu__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; }
  .menu__img {
    width: 150px; }
    .menu__img img {
      max-width: 100%; }

.daft-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b1b1b;
  border: 3px solid #0fd65a;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  text-align: center; }
  .daft-img__content {
    padding-top: 8px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  transition: all .3s; }

.slick-prev {
  position: absolute;
  top: 35%;
  left: 28%;
  transform: translate(-40%, 35%); }

.slick-next {
  position: absolute;
  top: 35%;
  left: 70%;
  transform: translate(-40%, 35%); }

.slick-track > div:not(.slick-center) {
  transform: scale(0.7); }
