.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .075;
    overflow: hidden;
    height: 50vh;
    max-height: 436px;
    
    &__content{
        height: 100%;
        width: 100%;
    }
}