.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    color: $color-white;
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

.head-btn {
    @extend .btn;
    height: 30px;
    width: 30px;
    z-index: 300;
}

.nav-btn {
    @extend .btn;
    width: 30px;
    height: 26px;
    background-size: cover;
    transition: all .3s;
        &:hover {
            filter: brightness(1.5);
        }
        &:active {
            transform: translateY(0);
        }
}

.foot-btn {
    @extend .head-btn;
}

.btn__back {
    background-image: url("../images/back_ico.svg");
}

.btn__more {
    background-image: url("../images/more_ico.svg");
}

.shuffle {
    background-image: url("../images/shuffle_ico.svg");
}

.repeat {
    background-image: url("../images/repeat_ico.svg");
}

.stop {
    background-image: url("../images/Play_inactive.png");
    width: 100px;
    height: 94px;
    background-size: cover;
}

.playlist-btn {
    background-image: url("../images/playlist_ico.svg");
    width: 36px;
}

.shuffle-btn {
    padding: 10px 80px;
    position: absolute;
    bottom: 40px;
    background-color: $color-green;
    color: $color-white;
    text-transform: uppercase;
    border-radius: 20px;
    @include box-shadow;
    z-index: 10;
    animation: moveInBottom 0.5s ease-out .75s;
    animation-fill-mode: backwards;
    &:hover {
        background-color: $color-green-light;
    }
}

.hide-btn {
    background: #fff;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    & img {
        height: 16px;
    }
}

.btn-menu {
    animation: moveInBottom 0.5s ease-out .75s;
    animation-fill-mode: backwards;
    transition: all .3s;
    &:hover,:focus,:active {
        color: $color-grey-light;
    }
}