.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audioplayer {
    background-color: $color-black;
    max-width: 576px;
    width: 100%;
    position: relative;
}

.header {
    padding: 10px 30px;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    z-index: 15;
    &__text {
        text-align: center;
        margin-top: 10px;
    }
}

.heading-small {
    text-transform: uppercase;
    color: $color-grey-light;
    animation: moveInRight 1s ease-out;
}

.heading-medium {
    font-size: 22px;
    font-weight: 400;
    animation: moveInLeft 1s ease-out;
}

.heading-big {
    color: $color-green;
    font-size: 36px;
    font-weight: 400;
    animation: moveInRight 1s ease-out;
}

.cd-title {
    text-align: center;
    padding: 25px 0;
}

.player {
    padding: 25px 0 0;
}

.footer {
    background-color: $color-white;
    padding: 15px 30px;
    &__text{
        padding-left: 10px;
    }
    &__time {
        float: right;
        color: $color-grey-light;
        line-height: 40px;
    }
}