.u-inline-block {
    display: inline-block;
}

.margin-top-small {
    margin-top: 15px;
}

.active-playlist {
    display: block !important;
}

.filter {
    filter: brightness(1.5);
}

.active {
    display: inline-block !important;
}

.unactive {
    display: none;
}

.btn-up {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 300;
    & button {
        width: 60px;
        height: 54px;
    }
}

.relative {
    position: relative;
}